defaults: &defaults
  app_name: poc_api_app
  user_inactivity_timeout: 7200
  doorkeeper_app_id: "da4013ca5a4a696ca740c9e16b55650ca984f81bf86dc2bd8dc122dc0f3d0079"
  doorkeeper_app_secret: "0e953030d6135eb6cf8c64d2fd6686b40cf6619daa08b40b8a122aa31e996ba0"
  doorkeeper_app_url: "http://localhost:3004"

development: &development
  <<: *defaults
  js_request_delay_timer: '500'
  redis_server:
    password: 'azendoo'
    host: '127.0.0.1'
    port: '6379'

precompile:
  <<: *development

test:
  <<: *defaults
  redis_server:
    password: azendoo
    host: '127.0.0.1'
    port: '6379'

production:
  <<: *defaults
  redis_server:
    host: '127.0.0.1'
    password: azendoo
    port: '6379'
